{% schema %}
{
  "name": "Custom Slider",
  "settings": [],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "slide_image",
          "label": "Slide Image"
        },
        {
          "type": "text",
          "id": "slide_heading",
          "label": "Heading",
          "default": "Slider Heading"
        },
         {
      "type": "color",
      "id": "heading_color",
      "label": "Heading Color",
      "default": "#000000"
    },
        {
          "type": "text",
          "id": "slide_text",
          "label": "Text",
          "default": "Slider Description"
        },
        {
            "type": "color",
            "id": "description_color",
            "label": "description Color",
            "default": "#000000"
        },
        {
          "type": "url",
          "id": "slide_button_link",
          "label": "Button Link"
        },
        {
          "type": "text",
          "id": "slide_button_text",
          "label": "Button Text",
          "default": "Shop Now"
        },
        {
            "type": "color",
            "id": "button_bg",
            "label": "Button Background Color",
            "default": "#000000"
        },
        {
            "type": "color",
            "id": "button_hover_bg",
            "label": "Button Hover Background Color",
            "default": "#fff544"
        },
        {
            "type": "color",
            "id": "button_text_color",
            "label": "Button Text Color",
            "default": "#ffffff"
        },
        {
            "type": "color",
            "id": "button_hover_text_color",
            "label": "Button Hover Text Color",
            "default": "#000000"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom Slider"
    }
  ]
}
{% endschema %}


<div class="custom-slider-wrapper">
  <div class="custom-slider">


    {% for block in section.blocks %}
      <div class="slide-item">


        {% if block.settings.slide_image %}
          <img
            src="{{ block.settings.slide_image | image_url: width: 1600 }}"
            alt="slider image"
          >
        {% endif %}


        <div class="slide-content">
          <h2 style="color:{{ block.settings.heading_color }}">{{ block.settings.slide_heading }}</h2>


          <p style="color:{{ block.settings.description_color }}">{{ block.settings.slide_text }}</p>


         <a 
  href="{{ block.settings.slide_button_link }}"
  class="slider-btn"
  style="background:{{ block.settings.button_bg }};
    color:{{ block.settings.button_text_color }};
    --hover-bg:{{ block.settings.button_hover_bg }};
    --hover-text:{{ block.settings.button_hover_text_color }};"
>
  {{ block.settings.slide_button_text }}
</a>
        </div>


      </div>
    {% endfor %}


  </div>


  <button class="prev-btn">❮</button>
  <button class="next-btn">❯</button>
</div>
